.header {
  padding-top: calc(var(--big-gap) / 4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--middle-gap);
  flex-wrap: wrap;
}

.headerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--small-gap);
}

.headerMain a {
  text-decoration: none;
  color: var(--white);
  opacity: 0.7;
  transition: var(--short-transition);
}

.headerLogo {
  border-radius: var(--border-radius-30);
  user-select: none;
  height: 50px;
  object-fit: cover;
}

.headerLogoName {
  font-size: var(--middle-font);
  font-weight: bold;
  color: var(--gold) !important;
  opacity: 1 !important;
}

.headerSearch {
  flex: 1;
  height: 40px;
  border-radius: var(--border-radius-30);
  overflow: hidden;
  position: relative;
  min-width: 200px;
}

.headerSearch input {
  background-color: rgb(58, 58, 58);
  border: none;
  outline: none;
  position: absolute;
  inset: 0;
  padding: 1rem 8%;
  font: inherit;
}

.headerSearch input::placeholder,
.headerSearchIcon {
  color: var(--white) !important;
  opacity: 0.6 !important;
}

.headerSearch input:focus-within {
  background-color: var(--dark-grey);
  color: var(--white);
}

.headerSearchIcon {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.headerSearch input:focus-within::placeholder,
.headerSearch input:focus-within .headerSearchIcon {
  color: var(--black);
  opacity: 1 !important;
}

.headerFavourites {
  display: flex;
  gap: var(--xs-gap);
  background-color: var(--gold);
  color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-10);
  cursor: pointer;
  border: 2px solid var(--gold);
  transition: var(--middle-transition);
  user-select: none;
}

.headerFavourites:hover {
  background-color: var(--black);
}

.headerFavourites:hover * {
  color: var(--gold);
}

.headerDropdown {
  position: absolute;
  right: 5%;
  top: 80px;
  background-color: rgba(70, 70, 70, 0.92);
  width: min(350px, 90%);
  display: grid;
  gap: var(--middle-gap);
  max-height: 80%;
  overflow-y: auto;
  padding-block: 1.25rem;
  border-radius: var(--border-radius-10);
  transform: scaleY(1);
  opacity: 1;
  transition: var(--middle-transition);
  transform-origin: top;
  box-shadow: 0 0 1rem var(--dark-grey);
  z-index: 5;
}

.headerDropdown > a {
  border-bottom: 3px solid var(--black);
  padding: 1.25rem 0.5rem;
  text-decoration: none;
  color: var(--white);
  height: 100%;
}

.headerDropdown > a:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.headerDropdown::-webkit-scrollbar {
  width: 5px;
}

.headerDropdown::-webkit-scrollbar-track {
  width: 5px;
}

.headerDropdown::-webkit-scrollbar-thumb {
  background-color: var(--gold);
  border: 0;
}

.headerDropdown.hideDropdown {
  transform: scaleY(0);
  opacity: 0;
}

.onlyOnMobile {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    gap: var(--xs-gap);
    text-align: center;
    justify-content: center;
  }

  .headerDropdown {
    text-align: left;
  }

  .headerDropdown > a {
    padding-inline: 10%;
  }

  .headerMain {
    flex-wrap: wrap;
  }

  .headerSearch {
    order: 1;
    flex: 1;
  }

  .onlyOnMobile {
    display: flex;
    flex: min(500px, 90%);
    opacity: 0.3;
    background-color: var(--gold);
  }

  .headerSearch input {
    padding-inline: 12%;
  }
}
